<main class="p-5">

    <div class="card p-5">
        <p>
            Hello world!
        </p>
        <div id="test">
            Test
        </div>
        <h1>Heading 1</h1>
        <pre>Tab		size</pre>
        <span>Text size</span>
    </div>

    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>

    <div>

        <span>Inline</span>
        <span>Inline</span>
        <span>Inline</span>
        <span class="block">Block span</span>
        <span class="block">Block span</span>
    </div>






</main>