{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

    <button type="button" class="btn btn-primary">Купити</button>

    <p>This <em>is</em> text</p>

</div>

<div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item">1</li>
        <li class="item">2</li>
        <p class="item">First paragraph</p>
        <article class="item">Only Article</article>
        <li class="item">3</li>
        <p>Second paragraph</p>
        <li class="item">4</li>
    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item">1</li>

    </ul>
</div>

<div class="card p-5 m-5 card-dark">
    <p>First</p>
    <div>Second</div>
    <p>Third</p>
    <p></p>
    <p>Last</p>
</div>

<div class="card p-5 m-5 card-dark">
    <input class="input-dark" required>
    <input class="input-dark" placeholder="This is a yellow placeholder" type="number">
</div>

<div class="card p-5 m-5 card-dark">
    <img alt="image small card" class="small-img" src="https://picsum.photos/400/400" height="100px">
    <button class="btn">Click me</button>
    <br>
    <a class="btn btn-secondary">Click me</a>
    <br>
    <div class="small btn btn-secondary">Click me</div>
    <br>
    <div class="small btn btn-secondary big">Click me</div>
</div>

<div class="card p-5 m-5 card-dark">
    <p class="big-text">Velit veniam do dolore laboris reprehenderit qui enim ex.
        <br>
        Incididunt nostrud velit proident voluptate sunt cillum non deserunt.
    </p>
</div>

<div lang="fr" class="card p-5 m-5 card-dark">
    <a class="link" href="#test">Click me</a>
</div>

<div lang="en" id="test" class="card p-5 m-5 card-dark">
    <input>
    <span>Hello world</span>
    <button>Test button</button>
    <button disabled>Disabled button</button>
</div>

<div class="card p-5 m-5 card-dark">
    <input class="inp">
    <input class="inp" readonly>

    <div class="mt-5">
        <div>
            <input type="checkbox" name="test" checked>
            <span>test</span>
        </div>
        <div>
            <input type="checkbox" name="test">
            <span>test</span>
        </div>

    </div>
</div>

<div class="card p-5 m-5 card-dark">
    <div>
        <input class="valid" type="email" required>
    </div>
    <div>
        <input class="valid" type="email">
    </div>
    <div>
        <input type="number" min="0" max="10">
    </div>

    <div>
        <input class="placeholder" placeholder="test">
        <span>Test</span>
    </div>
</div>


{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}