.card {
  color: teal;
}
.card p {
  color: #48e920;
  color: rgb(72, 30, 224);
  color: rgba(72, 30, 224, 0.507);
  color: rgba(241, 19, 104, 0.377);
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 2px blue;
}

p:hover {
  direction: rtl;
}

#test {
  color: inherit;
  writing-mode: vertical-rl;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-decoration: underline wavy red;
}

h1:hover {
  text-decoration: line-through double red;
}

pre {
  tab-size: 40px;
}

* {
  font-family: 'Roboto', sans-serif;
  font-display: swap;
}

span {
  padding: 50px;
  font-size: xx-large;
  font-weight: 900;
  font-style: oblique;
  width: 49%;
  box-sizing: border-box;
  display: inline-block;
}

.block {
  display: block;
  margin: auto;
  background: grey;
  width: 100%;
  min-height: 500px;
  max-width: 600px;
}
