:root {
  --space-s: 8px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-d: 16px;
  --size-s: 14px;
  --size-l: 20px;
  --size-b: 24px;

  --color-border: #dee2e6;
  --color-border-light: #e4eaf2;
  --color-primary: rgb(46, 46, 255);
  --color-white: #fff;
  --color-title: #212529;
  --color-text: #343a40;

  --border-radius: 12px;

  --weight-title: 600;
  --weight-text: 400;
}

.page {
  background: var(--color-white);
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.page_content {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  background: var(--color-primary);
  border-radius: calc(var(--border-radius) / 2);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
  color: blue;
}

.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);
  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  font-weight: var(--weight-title);
  color: var(--color-title);
  display: block;
  margin-bottom: var(--space-l);
  font-weight: var(--weight-title);
}

.main {
  display: flex;
  width: 100%;
  gap: 40px;
  align-items: flex-start;
}

.messages {
  max-width: 640px;
  width: 100%;
  background: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
  padding: var(--space-l);
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.messages_title {
  font-size: var(--size-b);
  color: var(--color-title);
  font-weight: var(--weight-text);
  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border);
}

.messages_link {
  color: var(--color-primary);
  font-size: var(--size-s);
  align-self: flex-end;
  transition-duration: 0.7s;
  transition-property: opacity, border-bottom;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.messages_link:hover {
  opacity: 0.7;
  border-bottom-color: var(--color-primary);
}

.msg {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border);
  position: relative;
  padding-right: var(--space-b);
}

.msg_name {
  font-size: var(--size-d);
  color: var(--color-title);
  font-weight: var(--weight-title);
}

.msg_text {
  font-size: var(--size-d);
  color: var(--color-text);
  font-weight: var(--weight-text);
}

.msg_day {
  position: absolute;
  top: 0;
  right: 0;
}

.advantages {
  display: flex;
  gap: var(--space-l);
}

.advantages > div {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border-light);
  border-radius: var(--border-radius);
  padding: var(--space-l);
  gap: var(--space-s);
  width: 100%;
}

.advantages > div > strong {
  color: var(--color-title);
  font-weight: var(--weight-title);
  font-size: 18px;
}

.advantages > div > p {
  color: #767676;
  font-size: var(--size-d);
  line-height: 1.5;
}

.form {
  max-width: 320px;
  width: 100%;
  background: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: var(--space-l);
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.form_title {
  text-align: center;
  font-size: var(--size-b);
  font-weight: var(--weight-text);
  color: var(--color-title);
}

.form_info {
  text-align: center;
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: #6c757d;
}

.form_button {
  text-align: center;
  padding: 12px;
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: calc(var(--border-radius) / 3);
  transition: opacity 0.7s;
}

.form_button:hover {
  opacity: 0.7;
}

.form_button:active {
  opacity: 0.3;
}

.form_input_list {
  display: flex;
  gap: var(--space-m);
  flex-direction: column;
}

.form_input {
  padding: var(--space-xm);
  border: 1px solid #ced4da;
  border-radius: calc(var(--border-radius) / 3);
}

.form_input:placeholder {
  color: var(--color-title);
  font-size: var(--size-d);
}

.form_checkbox {
  display: flex;
  gap: var(--space-s);
  align-items: center;
}

.form_checkbox > input {
  display: none;
}

.form_checkbox > input ~ label div {
  display: inline-block;
  margin-right: var(--space-s);
  border: 1px solid #767676;
  border-radius: 4px;
  height: 13px;
  width: 13px;
}

.form_checkbox > input:checked ~ label div {
  border-color: var(--color-primary);
  background: var(--color-primary);
}

.form_checkbox > label {
  color: var(--color-title);
  font-size: var(--size-d);
  cursor: pointer;
  display: flex;
  align-items: center;
}
