<div class="card" id="card_{{id}}">
    <div class="card_image_block">
        <img class="card_image" src="{{photo}}" width="360px">
        {{#if isNew}}
        <div class="card_new">NEW</div>
        {{/if}}
    </div>
    <h3 class="card_name">{{name}}</h3>
    <p class="card_description">{{description}}</p>
    <button class="button button_card">Read All</button>
</div>